// -----------------------------------------------------------------------------
// This file contains all @font-face declarations.
// -----------------------------------------------------------------------------

// Overpass
@font-face {
  font-family: "Overpass";
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/overpass/overpass-light.woff) format("woff");
}

@font-face {
  font-family: "Overpass";
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/overpass/overpass-bold.woff) format("woff");
}

// Ubuntu
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ubuntu/ubuntu-regular.woff) format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/ubuntu/ubuntu-medium.woff) format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ubuntu/ubuntu-bold.woff) format("woff");
}
