// -----------------------------------------------------------------------------
// This file contains all application-wide CSS variables.
// -----------------------------------------------------------------------------

:root {
  // * Document Colors
  // Primary
  --clr-primary-100: hsl(355, 100%, 74%);
  --clr-primary-200: hsl(356, 100%, 66%);

  // Neutral
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(240, 2%, 92%);
  --clr-neutral-300: hsl(240, 2%, 79%);
  --clr-neutral-400: hsl(0, 0%, 45%);
  --clr-neutral-500: hsl(207, 13%, 34%);
  --clr-neutral-600: hsl(208, 49%, 24%);
  --clr-neutral-700: hsl(237, 23%, 32%);
  --clr-neutral-800: hsl(237, 17%, 21%);
  --clr-neutral-900: hsl(240, 10%, 16%);

  // Accent
  --clr-accent-1: hsl(13, 100%, 72%);
  --clr-accent-2: hsl(353, 100%, 62%);

  // Gradient
  --gradient-accent: linear-gradient(
    var(--bg-dir, to right),
    var(--clr-accent-1),
    var(--clr-accent-2)
  );

  --gradient-neutral: linear-gradient(
    var(--bg-dir, to left),
    var(--clr-neutral-700),
    var(--clr-neutral-800)
  );

  // * Font
  --ff-primary: "Overpass", sans-serif;
  --ff-secondary: "Ubuntu", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);
  --ff-lead: var(--ff-primary);

  --fw-lighter: lighter;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-bolder: bolder;

  --fs-100: 0.625rem; // 10px
  --fs-200: 0.75rem; // 12px
  --fs-300: 0.8125rem; // 13px
  --fs-400: 0.875rem; // 14px
  --fs-500: 0.9375rem; // 15px
  --fs-600: 1rem; // 16px
  --fs-700: 1.5rem; // 24px
  --fs-800: 2rem; // 32px
  --fs-900: 2.5rem; // 40px

  --fs-body: var(--fs-600);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-lead: var(--fs-600);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-500);

  // Fluid Steps
  --fs-fluid-primary-heading: var(--step-2);
  --fs-fluid-secondary-heading: var(--step-1);
  --fs-fluid-lead: var(--step-0);

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1440,18,1.25,6,0,375-540-720&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step-0: clamp(1rem, calc(0.96rem + 0.18vw), 1.13rem);
  --step-1: clamp(1.2rem, calc(1.14rem + 0.29vw), 1.41rem);
  --step-2: clamp(1.44rem, calc(1.35rem + 0.45vw), 1.76rem);
  --step-3: clamp(1.73rem, calc(1.59rem + 0.67vw), 2.2rem);
  --step-4: clamp(2.07rem, calc(1.88rem + 0.96vw), 2.75rem);
  --step-5: clamp(2.49rem, calc(2.22rem + 1.35vw), 3.43rem);
  --step-6: clamp(2.99rem, calc(2.61rem + 1.86vw), 4.29rem);

  // * Spacer
  --spacer-100: 0.25rem; // 4px
  --spacer-200: 0.5rem; // 8px
  --spacer-300: 0.75rem; // 12px
  --spacer-350: 0.875rem; // 14px
  --spacer-400: 1rem; // 16px
  --spacer-500: 1.5rem; // 24px
  --spacer-600: 2rem; // 32px
  --spacer-700: 3rem; // 48px
  --spacer-800: 4rem; // 64px
  --spacer-900: 5rem; // 80px
  --gap: 1rem; // 16px

  --transition: 300ms linear;
  --shadow: 0 1rem 2.5rem hsla(0, 0%, 0%, 0.3);
}
