// --------------------------------------------------------
// This file contains all application-wide Sass variables.
// --------------------------------------------------------

// Breakpoints
//
// 540x, 840px, 992px, 1200px, 1440px, 1500px
$breakpoint-up: (
  "sm": "33.75em",
  "md": "52.5em",
  "lg": "62em",
  "xl": "75em",
  "xxl": "90em",
  "largest": "93.75em",
);

// 539.84px, 839.84px, 991.84px, 1199.84px, 1439.84px, 1499.84px
$breakpoint-down: (
  "sm": "33.74em",
  "md": "52.49em",
  "lg": "61.99em",
  "xl": "74.99em",
  "xxl": "89.99em",
  "largest": "93.74em",
);

///
/// Colors
///
/// colors map, contains all colors of the site
/// @access public
/// @type Map
/// @prop {String} key - color name
/// @prop {Map} shade - shade map
/// @prop {Number} value - shade value mapped to the key
$colors: (
  "primary": (
    100: hsl(355, 100%, 74%),
    200: hsl(356, 100%, 66%),
  ),
  "neutral": (
    100: hsl(0, 0%, 100%),
    200: hsl(240, 2%, 92%),
    300: hsl(240, 2%, 79%),
    400: hsl(0, 0%, 45%),
    500: hsl(207, 13%, 34%),
    600: hsl(208, 49%, 24%),
    700: hsl(237, 23%, 32%),
    800: hsl(237, 17%, 21%),
    900: hsl(240, 10%, 16%),
  ),
  "accent": (
    1: hsl(13, 100%, 72%),
    2: hsl(353, 100%, 62%),
  ),
);

// Gradient
$gradient-accent: linear-gradient(
  var(--bg-dir, to right),
  var(--clr-accent-1),
  var(--clr-accent-2)
);

$gradient-neutral: linear-gradient(
  var(--bg-dir, to left),
  var(--clr-neutral-700),
  var(--clr-neutral-800)
);

//
// Font
//
// Font Family
$ff-primary: "Overpass", sans-serif;
$ff-secondary: "Ubuntu", sans-serif;

$ff-body: var(--ff-primary);
$ff-heading: var(--ff-secondary);
$ff-lead: var(--ff-primary);

/// Font Sizes
/// font-sizes map, contains all font sizes of text
/// size based on heading levels `h1-h6`
/// @access public
/// @type Map
/// @prop {String} key - size name
/// @prop {Number} value - size value mapped to the key
$font-sizes: (
  100: 0.625rem,
  200: 0.75rem,
  300: 0.8125rem,
  400: 0.875rem,
  500: 0.9375rem,
  600: 1rem,
  700: 1.5rem,
  800: 2rem,
  900: 2.5rem,
);

$fs-body: var(--fs-600);
$fs-primary-heading: var(--fs-800);
$fs-secondary-heading: var(--fs-700);
$fs-lead: var(--fs-600);
$fs-nav: var(--fs-500);
$fs-button: var(--fs-500);

/// Font Weight
/// font-weights map, contains all font weight of text
/// @access public
/// @type Map
/// @prop {String} key - weight name
/// @prop {Number} value - weight value mapped to the key
$font-weights: (
  "lighter": lighter,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "bolder": bolder,
);

///
/// Spacing
///
/// spacers map, contains all spacer value of the site
/// @access public
/// @type Map
/// @prop {String} key - spacer number
/// @prop {Number} value - spacer value mapped to the key
$spacer: 1rem;
$spacers: (
  100: 0.25rem,
  200: 0.5rem,
  300: 0.75rem,
  350: 0.875rem,
  400: 1rem,
  500: 1.5rem,
  600: 2rem,
  700: 3rem,
  800: 4rem,
  900: 5rem,
);

$gap: 1rem;
$transition: 300ms linear;
$shadow: 0 1rem 2.5rem hsla(0, 0%, 0%, 0.3);

//
// Utilities List - Used for generating utility classes in `_helpers.scss`.
//
$margin: m mx my mt me mb ms;
$padding: p px py pt pe pb ps;
$text-align: start center end;

///
/// Text Sizes
///
/// text-sizes map, contains all text-size value of the site
/// @access public
/// @type Map
/// @prop {String} key - text-size name
/// @prop {CSS Var} value - text-size value mapped to the key
$text-sizes: (
  "small": var(--fs-300),
  "xs": var(--fs-400),
  "sm": var(--fs-500),
  "md": var(--fs-600),
  "lg": var(--fs-700),
  "xl": var(--fs-800),
  "xxl": var(--fs-900),
);

///
/// Utilities Colors
///
/// util-colors map, contains all utilities color value of the site
/// @access public
/// @type Map
/// @prop {String} key - utility color name
/// @prop {CSS Var} value - utility color value mapped to the key
$util-colors: (
  "light": var(--clr-neutral-100),
  "dark": var(--clr-neutral-900),
);

///
/// Utilities Spacers
///
/// util-spacer map, contains all utilities spacer value of the site
/// @access public
/// @type Map
/// @prop {String} key - utility spacer id
/// @prop {CSS Var} value - utility color value mapped to the key
$util-spacers: (
  auto: auto,
  0: 0,
  1: var(--spacer-400),
  2: var(--spacer-500),
  3: var(--spacer-600),
  4: var(--spacer-700),
  5: var(--spacer-800),
  6: var(--spacer-900),
);
