// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use "../abstracts/" as *;

.footer {
  background-color: var(--clr-neutral-900);
  border-start-end-radius: calc(var(--spacer-400) * 8);
  color: var(--clr-neutral-300);
  font-family: var(--ff-secondary);

  &-link {
    font-size: var(--fs-600);
  }

  @include breakpoint-up(sm) {
    text-align: start;
  }
}

.footer .grid {
  grid-auto-columns: auto;
  place-items: flex-start center;

  @include breakpoint-up(sm) {
    --column-count: 2;
  }

  @include breakpoint-up(md) {
    --column-count: 3;
  }

  @include breakpoint-up(lg) {
    --column-count: 4;
  }
}

.footer .column-logo {
  @include breakpoint-up(sm) {
    grid-column: span 2;
  }

  @include breakpoint-up(md) {
    grid-column: 1;
  }
}

.footer .column-list {
  @include breakpoint-up(md) {
    justify-self: flex-start;
  }
}

.footer-item:not(:last-child) {
  margin-bottom: var(--spacer-400);
}

.attribution {
  line-height: 1.8;
  width: 70%;
}
