// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use "../abstracts/" as *;

.footer {
  background-color: var(--clr-neutral-900);
  border-start-end-radius: calc(var(--spacer-400) * 8);
  color: var(--clr-neutral-300);
  font-family: var(--ff-secondary);
  padding-block: var(--spacer-800);
  text-align: center;

  @include breakpoint-up(sm) {
    text-align: start;
  }

  &-list-header {
    margin-block: var(--spacer-200) var(--spacer-600);
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-100);
    font-size: var(--fs-600);
  }

  &-item:not(:last-child) {
    margin-bottom: var(--spacer-400);
  }

  &-link {
    font-size: var(--fs-600);
  }
}

.footer .grid {
  @include breakpoint-up(sm) {
    place-items: flex-start;
  }

  .column {
    @include breakpoint-up(sm) {
      @include breakpoint-down(md) {
        grid-column: span 6;

        &:first-child {
          grid-column: span 12;
          justify-self: center;
        }
      }
    }

    @include breakpoint-up(md) {
      grid-column: span 3;
    }
  }
}

.attribution {
  font-size: var(--fs-400);
  line-height: 1.8;
  margin-block-start: var(--spacer-700);
  margin-inline: auto;
  text-align: center;
  width: 70%;

  a {
    font-size: inherit;
    font-weight: var(--fw-bold);
  }
}
