// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use "../abstracts/" as *;

.footer {
  background-color: var(--clr-neutral-900);
  border-start-end-radius: calc(var(--spacer-400) * 8);
  color: var(--clr-neutral-300);
  font-family: var(--ff-secondary);
  padding-block: var(--spacer-800);
  text-align: center;

  @include breakpoint-up(sm) {
    text-align: start;
  }

  &-list-header {
    margin-block: var(--spacer-400) var(--spacer-600);
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-100);
    font-size: var(--fs-600);
  }

  &-item:not(:last-child) {
    margin-bottom: var(--spacer-400);
  }

  &-link {
    font-size: var(--fs-600);
  }
}

.footer .grid {
  grid-auto-columns: auto;
  place-items: flex-start center;

  @include breakpoint-up(sm) {
    --column-count: 2;
  }

  @include breakpoint-up(md) {
    --column-count: 3;
  }

  @include breakpoint-up(lg) {
    --column-count: 4;
  }
}

.footer .column-logo {
  @include breakpoint-up(sm) {
    grid-column: span 2;
  }

  @include breakpoint-up(md) {
    grid-column: 1;
  }
}

.footer .column-list {
  @include breakpoint-up(md) {
    justify-self: flex-start;
  }
}

.attribution {
  line-height: 1.8;
  margin-block-start: var(--spacer-700);
  margin-inline: auto;
  text-align: center;
  width: 70%;

  a {
    font-weight: var(--fw-bold);
  }
}
