// ---------------------------------------------------
// This file contains all styles related to
// the introduction of the site/application.
// ---------------------------------------------------

@use "../abstracts/" as *;

//
// Introduction & CTA
//
.intro {
  border-bottom-left-radius: calc(var(--spacer-400) * 8);
  isolation: isolate;
  padding-block-end: calc(var(--spacer-400) * 10);
  position: relative;

  &::before {
    background: url(../images/bg-pattern-intro-mobile.svg) no-repeat right 65%
      top 35%;
    content: "";
    inset: 0;
    border-radius: inherit;
    position: absolute;
    z-index: -1;

    @include breakpoint-up(lg) {
      background-image: url(../images/bg-pattern-intro-desktop.svg);
      background-position: right 75% top 52%;
    }
  }

  p {
    // ! 1. Calculate using math: Equation of a line ||
    //      OR Use "Utopia" size generator.
    // ! 2. Give `<element>` a meaningful class name.
    font-size: min(var(--fs-600) + 5.5vw, 1.2rem);
  }

  &-cta-buttons {
    @include flex($justify: center);

    flex-flow: row wrap;
    gap: var(--gap);
  }
}

//
// Navigation
//
%flex-center-between {
  @include flex($align: center, $justify: space-between);
}

.header .container {
  @extend %flex-center-between;

  gap: var(--gap);
  position: relative;
}

// Logo: Explicit width for logo to scale
// according to browser's default font size.
.logo img {
  width: 6.3125rem; // 101px
}

.nav-toggle {
  @include breakpoint-up(md) {
    display: none;
  }

  img {
    width: 2rem;
  }
}

.nav {
  @extend %flex-center-between;

  border-radius: var(--spacer-100);
  color: var(--clr-neutral-100);
  font-family: var(--ff-secondary);
  font-size: var(--fs-nav);
  font-weight: var(--fw-medium);
  width: 88%;

  @include breakpoint-down(md) {
    background-color: var(--clr-neutral-100);
    box-shadow: var(--shadow);
    color: var(--clr-neutral-500);
    display: none;
    inset-block-start: 150%;
    inset-inline-start: 50%;
    padding: var(--spacer-500);
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    width: min(21.375rem, 90%); // 342px
  }
}

// Displays navigation when toggle is clicked.
.nav.open {
  display: block;
}

.nav-list {
  --gap: 2rem;
  gap: var(--gap);
  margin-block-end: var(--spacer-600);

  @include breakpoint-up(md) {
    @include flex($align: center);
    margin: 0;
  }
}

.nav-item {
  position: relative;

  &:not(:last-child) {
    margin-block-end: var(--spacer-500);

    @include breakpoint-up(md) {
      margin: initial;
    }
  }
}

.nav-buttons {
  @include breakpoint-down(md) {
    border-top: 1px solid var(--clr-neutral-200);
    padding-block-start: var(--spacer-200);

    .btn:not(:last-child) {
      margin-block-end: var(--spacer-200);
    }

    .btn:is(:hover, :focus-visible) {
      outline-color: var(--clr-neutral-700);
    }
  }
}

.nav-buttons .btn-cta {
  background-image: var(--gradient-accent);
  color: var(--clr-neutral-100);
  outline-color: transparent;

  @include breakpoint-up(md) {
    background: var(--clr-neutral-100);
    color: var(--clr-primary-100);

    &:is(:hover, :focus-visible) {
      background-color: var(--clr-primary-100);
      color: var(--clr-neutral-100);
    }
  }
}

//
// Dropdown
//
:is(.dropdown-toggle, .dropdown-link):is(:hover, :focus-visible) {
  outline-color: var(--clr-neutral-700);
  transition: var(--transition);

  @include breakpoint-up(md) {
    outline-color: initial;
  }
}

.dropdown-toggle {
  align-items: center;
  display: inline-grid;
  gap: var(--spacer-200);
  grid-auto-flow: column;
  list-style-type: none;
  padding: var(--spacer-200) var(--spacer-100);
}

.dropdown-list {
  border-radius: var(--spacer-100);
  color: var(--clr-neutral-500);
  margin-block-start: var(--spacer-500);
  padding: var(--spacer-400);

  @include breakpoint-up(md) {
    background-color: var(--clr-neutral-100);
    box-shadow: var(--shadow);
    margin-block-start: var(--spacer-400);
    margin-inline-start: -1rem;
    padding-block: var(--spacer-600);
    padding-inline-end: var(--spacer-700);
    position: absolute;
  }
}

.dropdown-item:not(:last-child) {
  margin-block-end: var(--spacer-400);
}

.dropdown-link:is(:hover, :focus-visible) {
  color: var(--clr-neutral-800);
}

// Explicit width for dropdown-icon to scale
// according to browser's default font size.
.dropdown-icon {
  stroke: var(--clr-primary-200);
  transition: var(--transition);

  @include breakpoint-up(md) {
    stroke: currentColor;
  }
}

.dropdown[open] {
  .dropdown-icon {
    transform: rotate(-180deg);
  }

  @include breakpoint-down(md) {
    %dropdown-open-text-color {
      color: var(--clr-neutral-400);
    }

    .dropdown-toggle {
      @extend %dropdown-open-text-color;
    }

    .dropdown-list {
      @extend %dropdown-open-text-color;
      background-color: var(--clr-neutral-200);
    }
  }
}
